<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="inter1">
        {%csrf_token%}
        {% if user.is_authenticated %}
        <input type="text" value="{{user.is_staff}}" name="n6" style="visibility: hidden;">
        {% endif %}
    </form>
    <script>
        document.getElementsByTagName('form')[0].submit();
    </script>
</body>
</html>